DISCORD_BOT_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
DISCORD_WELCOME_CHANNEL_ID=
DISCORD_COMMAND_CHANNEL_ID=
DISCORD_SEARCH_CHANNEL_ID=
DISCORD_TOURNAMENT_CHANNEL_ID=
DISCORD_TOURNAMENT_READONLY=true
DISCORD_SHOP_CHANNEL_ID=
DISCORD_LIVE_CHANNEL_ID=
DISCORD_SUPPORT_CHANNEL_ID=
DISCORD_COMMUNITY_CHANNEL_ID=
DISCORD_PARTNER_CHANNEL_ID=
ASTRAL_API_BASE_URL=http://127.0.0.1:8000
ASTRAL_BACKEND_TIMEOUT_MS=90000
ASTRAL_SITE_BASE_URL=http://localhost:3000
ASTRAL_SITE_URL=http://localhost:3000/profil-public
ASTRAL_BRAND_IMAGE_PATH=../frontend/public/unnamed.png
ASTRAL_PUBG_IMAGE_PATH=../frontend/public/pubg-1920x1080-wallpaper-md5gr1zzjd6ic2va.jpg
ASTRAL_FORTNITE_IMAGE_PATH=../frontend/public/the-death-star-sabotage-event-for-fortnite-begins-on-july-7-cover684382a44e794.jpg
ASTRAL_BOT_BACKEND_TOKEN=
DAILY_LOOKUP_LIMIT=20
LOOKUP_WINDOW_HOURS=24
LOOKUP_CACHE_HOURS=72
SEARCH_STATE_MINUTES=10
